header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    border-bottom: 4px solid rgb(159, 15, 15);

}

header img {
    max-width: 18%;
    height: auto;
    float: left;
    /* Float the image to the left side */
    margin-right: 20px;
    /* Add some spacing to separate the image from the text */
}
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(252, 243, 229);
    text-decoration: none;
    font-family: cofo;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px rgb(159, 15, 15);
    font-style: italic;
    color: rgb(159, 15, 15);
}

aside>p {
    margin: 0.5rem;
}

.bold-text {
    font-weight: bold;
}

body {
    background-color: rgb(252, 243, 229);
    font-family: 'cofo', sans-serif;
}

@font-face {
    font-family: 'cofo';
    src: url('fonts/CoFoSans-Regular.ttf') format('woff2');
}

a {
    color: rgb(159, 15, 15);
}

img {
    width: 100%;
    max-width: 1800px;
    height: auto;
}