header {
    background-color: #333;
    text-align: right;
    border-bottom: 4px solid rgb(159, 15, 15);
    height: 10vh;
    position: relative;
}

header img {
    max-width: 18%;
    height: auto;
    float: left;
    margin-right: 20px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(252, 243, 229);
    text-decoration: none;
    font-family: cofo;
    position: relative;
    top: 4vh;
}

body {
    background-color: rgb(252, 243, 229);
    font-family: 'cofo', sans-serif;
}

@font-face {
    font-family: 'cofo';
    src: url('../fonts/CoFoSans-Regular.ttf') format('woff2');
}

a {
    color: rgb(159, 15, 15);
}

img {
    width: 100vw;
    height: auto;
    display: block;
}

.container {
    background-color: rgb(252, 243, 229);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: absolute;
    overflow: hidden;
    width: 32vw;
    max-width: 100%;
    top: 14.75vh;
    right: 0.75vw;
    height: 42.5vw;
}

.container p {
    margin: 1vw;
}

.container h1 {
    margin: 1vw;
}